In [10]:
#  先熟悉20newsgroups

from sklearn.datasets import fetch_20newsgroups

# 載入訓練資料
train_data = fetch_20newsgroups(subset='train', remove=('headers', 'footers', 'quotes'))

# 載入測試資料
test_data = fetch_20newsgroups(subset='test', remove=('headers', 'footers', 'quotes'))

# 查看資料結構
print(len(train_data.data))  # 約 11314 筆


# 參考資料  https://scikit-learn.cn/stable/modules/generated/sklearn.datasets.fetch_20newsgroups.html#sklearn.datasets.fetch_20newsgroups

11314

In [14]:
print(type(train_data))  # check type
print(train_data.keys()) # check attribute

<class 'sklearn.utils._bunch.Bunch'>
dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR'])

In [12]:
print(train_data.target_names)  # 20 個主題print(train_data

['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

In [15]:
print(train_data.target)

[7 4 4 ... 3 1 8]

In [7]:
print(train_data.data[0])  # 第一篇文章內容

I was wondering if anyone out there could enlighten me on this car I saw
the other day. It was a 2-door sports car, looked to be from the late 60s/
early 70s. It was called a Bricklin. The doors were really small. In addition,
the front bumper was separate from the rest of the body. This is
all I know. If anyone can tellme a model name, engine specs, years
of production, where this car is made, history, or whatever info you
have on this funky looking car, please e-mail.

In [8]:
print(train_data.target[0])  # 該篇文章的標籤（整數編碼）  對應的類別數字

7

In [ ]:


# import libraries

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

from sklearn.datasets import fetch_20newsgroups

In [2]:
from sklearn.datasets import fetch_20newsgroups

data= fetch_20newsgroups(subset='all', remove=('headers', 'footers', 'quotes'))
print(data.target_names)
print(data.target_names[0])

['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']
alt.atheism

In [3]:
#  依照 data.target 中的每個數字(共計 18846 筆)，找到 data.target_name (僅有20種)所對應的文字
import pandas as pd
data_category=[]
for i in data.target:
    data_category.append(data.target_names[i])
print(data_category[:5])

['rec.sport.hockey', 'comp.sys.ibm.pc.hardware', 'talk.politics.mideast', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware']

In [4]:
# turn it into a dataframe

data_df=pd.DataFrame(data.target,columns=['Category_No'])


data_df['Category_No'].value_counts()    # 了解每個類別的數量
data_df['Text'] = data.data    # 將文字放入dataframe
data_df['Category_Name']=data_category  #將類別名稱放入dataframe
# data_df.head(5)

# data_df=data_df[:5]
# data_df

In [5]:
# import maven_text_preprocessing
import maven_text_preprocessing_v2
# import necessary libraries
# import pandas as pd
# import spacy

# # download the spacy model
# nlp = spacy.load("en_core_web_sm")

# # helper functions from text preprocessing section
# def lower_replace(series):
#     output = series.str.lower()
#     output = output.str.replace(r'\[.*?\]', '', regex=True)
#     output = output.str.replace(r'[^\w\s]', '', regex=True)
#     return output

# def token_lemma_nonstop(text):
#     doc = nlp(text)
#     output = [token.lemma_ for token in doc if not token.is_stop]
#     return ' '.join(output)

# def clean_and_normalize(series):
#     output = lower_replace(series)
#     output = output.apply(token_lemma_nonstop)
#     return output

In [7]:
# apply them to the reviews
import swifter
data_df['Text_Clean'] = maven_text_preprocessing_v2.clean_and_normalize(data_df['Text'])

data_df.head(2)

Pandas Apply:   0%|          | 0/18846 [00:00<?, ?it/s]

,Category_No,Text,Category_Name,Text_Clean
0,10,\n\nI am sure some bashers of Pens fans are pr...,rec.sport.hockey,\n\n sure basher pen fan pretty confused lack ...
1,3,My brother is in the market for a high-perform...,comp.sys.ibm.pc.hardware,brother market highperformance video card supp...

In [10]:
from tqdm import tqdm
tqdm.pandas()  # 讓 apply() 可以顯示進度
data_df['Text']

0        \n\nI am sure some bashers of Pens fans are pr...
1        My brother is in the market for a high-perform...
2        \n\n\n\n\tFinally you said what you dream abou...
3        \nThink!\n\nIt's the SCSI card doing the DMA t...
4        1)    I have an old Jasmine drive which I cann...
                               ...
18841    DN> From: nyeda@cnsvax.uwec.edu (David Nye)\nD...
18842    \nNot in isolated ground recepticles (usually ...
18843    I just installed a DX2-66 CPU in a clone mothe...
18844    \nWouldn't this require a hyper-sphere.  In 3-...
18845    After a tip from Gary Crum (crum@fcom.cc.utah....
Name: Text, Length: 18846, dtype: object

In [8]:
print(type(data_df['Text']))

<class 'pandas.core.series.Series'>

In [20]:
data_df['Text_Clean'][18841:]

18841    dn nyedacnsvaxuwecedu david nye \n dn neurolog...
18842    \n isolated ground recepticle usually unusual ...
18843    instal dx266 cpu clone motherboard try mount c...
18844    \n not require hypersphere   3space 4 point sp...
18845    tip gary crum crumfcomccutahedu get phone \n p...
Name: Text_Clean, dtype: object

In [ ]:
#
# create a count vectorizer matrix

cv = CountVectorizer(stop_words="english",min_df=0.01)
# cv = CountVectorizer(stop_words='english', ngram_range=(1,2), min_df=.2)
X = cv.fit_transform(data_df.Text_Clean)

In [10]:
# view the features / inputs X
X_df = pd.DataFrame(X.toarray(), columns=cv.get_feature_names_out())
# X_df.head

In [11]:
# view the target / outpupt
# y = data_df.Category_No
y = data_df.Category_Name
y
# y.head()

0                rec.sport.hockey
1        comp.sys.ibm.pc.hardware
2           talk.politics.mideast
3        comp.sys.ibm.pc.hardware
4           comp.sys.mac.hardware
                   ...
18841                     sci.med
18842             sci.electronics
18843    comp.sys.ibm.pc.hardware
18844               comp.graphics
18845                   rec.autos
Name: Category_Name, Length: 18846, dtype: object

In [ ]:
# train/test split
X_train, X_test, y_train, y_test = train_test_split(X_df, y, test_size=0.2, random_state=42)

# model  (Naive Bayes)
model_nb = MultinomialNB()
model_nb.fit(X_train, y_train)

# predict
y_pred_nb = model_nb.predict(X_test)

# evaluate
print(classification_report(y_test, y_pred_nb))
print("Accuracy:", accuracy_score(y_test, y_pred_nb))

                          precision    recall  f1-score   support

             alt.atheism       0.34      0.47      0.40       151
           comp.graphics       0.45      0.41      0.43       202
 comp.os.ms-windows.misc       0.43      0.42      0.42       195
comp.sys.ibm.pc.hardware       0.41      0.49      0.44       183
   comp.sys.mac.hardware       0.53      0.45      0.49       205
          comp.windows.x       0.61      0.56      0.59       215
            misc.forsale       0.70      0.63      0.66       193
               rec.autos       0.56      0.56      0.56       196
         rec.motorcycles       0.29      0.60      0.39       168
      rec.sport.baseball       0.60      0.66      0.63       211
        rec.sport.hockey       0.76      0.57      0.65       198
               sci.crypt       0.69      0.59      0.63       201
         sci.electronics       0.50      0.47      0.48       202
                 sci.med       0.59      0.62      0.61       194
               sci.space       0.63      0.50      0.55       189
  soc.religion.christian       0.58      0.63      0.61       202
      talk.politics.guns       0.57      0.58      0.58       188
   talk.politics.mideast       0.65      0.58      0.61       182
      talk.politics.misc       0.37      0.33      0.35       159
      talk.religion.misc       0.32      0.18      0.23       136

                accuracy                           0.52      3770
               macro avg       0.53      0.51      0.52      3770
            weighted avg       0.54      0.52      0.52      3770

Accuracy: 0.5214854111405836

In [ ]:
# Logistic Regression

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
# create a tfidf vectorizer matrix
tv = TfidfVectorizer(stop_words='english', min_df=.01)
# tv = TfidfVectorizer(stop_words='english', ngram_range=(1,2), min_df=.2)
Xt = tv.fit_transform(data_df.Text_Clean)

In [15]:
Xt_df = pd.DataFrame(Xt.toarray(), columns=tv.get_feature_names_out())
Xt_df

,10,100,1000,11,12,13,14,15,16,17,...,world,worry,worth,write,wrong,yeah,year,yes,york,young
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.208156,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.083867,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.097788,0.0,0.0,0.0
18842,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
18843,0.0,0.0,0.0,0.0,0.250373,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
18844,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.231095,0.0,0.000000,0.0,0.0,0.0
18845,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [16]:
# view the target / output y
yt = data_df.Category_Name
yt.head()

0            rec.sport.hockey
1    comp.sys.ibm.pc.hardware
2       talk.politics.mideast
3    comp.sys.ibm.pc.hardware
4       comp.sys.mac.hardware
Name: Category_Name, dtype: object

In [17]:
# train/test split
Xt_train, Xt_test, yt_train, yt_test = train_test_split(Xt_df, yt, test_size=0.2, random_state=42)

# model
model_lr = LogisticRegression()
model_lr.fit(Xt_train, yt_train)

# predict
y_pred_lr = model_lr.predict(Xt_test)

# evaluate
print(classification_report(yt_test, y_pred_lr))
print("Accuracy:", accuracy_score(y_test, y_pred_nb))

                          precision    recall  f1-score   support

             alt.atheism       0.44      0.48      0.46       151
           comp.graphics       0.53      0.50      0.52       202
 comp.os.ms-windows.misc       0.54      0.45      0.49       195
comp.sys.ibm.pc.hardware       0.46      0.51      0.48       183
   comp.sys.mac.hardware       0.58      0.50      0.54       205
          comp.windows.x       0.59      0.58      0.59       215
            misc.forsale       0.66      0.62      0.64       193
               rec.autos       0.57      0.53      0.55       196
         rec.motorcycles       0.31      0.55      0.40       168
      rec.sport.baseball       0.64      0.63      0.63       211
        rec.sport.hockey       0.77      0.66      0.71       198
               sci.crypt       0.72      0.62      0.66       201
         sci.electronics       0.48      0.48      0.48       202
                 sci.med       0.59      0.72      0.65       194
               sci.space       0.53      0.59      0.56       189
  soc.religion.christian       0.61      0.69      0.65       202
      talk.politics.guns       0.59      0.59      0.59       188
   talk.politics.mideast       0.66      0.63      0.65       182
      talk.politics.misc       0.47      0.48      0.47       159
      talk.religion.misc       0.36      0.13      0.19       136

                accuracy                           0.55      3770
               macro avg       0.56      0.55      0.55      3770
            weighted avg       0.56      0.55      0.55      3770

Accuracy: 0.5214854111405836

In [18]:
# highest priority reviews
import numpy as np

data_df['predictions_nb'] = model_nb.predict_proba(X_df)[:, 0]
data_df['predictions_lr'] = model_lr.predict_proba(Xt_df)[:, 0]
data_df.sort_values('predictions_nb', ascending=False).head(2)

,Category_No,Text,Category_Name,Text_Clean,predictions_nb,predictions_lr
7071,0,\n(about my reply)\n\n\nIt a society that is c...,alt.atheism,\n reply \n\n\n society constantly verge flame...,1.0,0.203967
10653,0,\n: There are a couple of things about your p...,alt.atheism,\n couple thing post thread \n little confu...,1.0,0.589847

In [69]:


data_df['predictions_nb'] = model_nb.predict_proba(X_df)[:, 0]
data_df['predictions_lr'] = model_lr.predict_proba(Xt_df)[:, 0]
data_df.sort_values('predictions_lr', ascending=False).head(2)

,Category_No,Text,Category_Name,Text_Clean,predictions_nb,predictions_lr
4855,0,This response originally fell into a bit bucke...,alt.atheism,response originally fall bit bucket m repost...,1.0,0.932616
11166,0,Archive-name: atheism/introduction\nAlt-atheis...,alt.atheism,archivename atheismintroduction \n altatheisma...,1.0,0.916527